body {
  color: #fff;
  background-color: #0F0F0F;
  font-family: "Inter",system-ui,-apple-system,"Segoe UI","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.3rem;
}

header {
  display: flex;
  justify-content: center;
}

header img {
  width: 40%;
  margin-bottom: 1rem;
}

footer {
  background-color: #fff;
  margin-top:30px;
  padding:30px;
  font-size: 1rem;
  min-height:160px;
}

footer .content {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

footer .links, footer .socials {
  margin-top:50px;
  float: left;
  width: 50%;
}

footer .socials {
  text-align: right;
}

footer .links a {
  margin-right: 10px;
}

footer .links a:hover{
  color: #f3646f;
}

footer .socials span {
  display: inline-block;
  height: 1.4rem;
  transition: background-image .15s ease-in-out;
  width: 1.4rem;
}
footer .socials a {
  text-decoration: none;
}

footer .socials span.instagram {
  background-image: url(../images/instagram-gray.svg);
}

footer .socials span.tiktok {
  background-image: url(../images/tiktok.svg);
}

footer .socials span.twitter {
  background-image: url(../images/twitter.svg);
}

footer .socials span.youtube {
  background-image: url(../images/youtube.svg);
}


h1, h2, h3 {
  font-family: Druk;
  font-weight: bold;
  font-size: 8rem;
  line-height: 8rem;
  display: block;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}

h2 {
  font-size: 3.5rem;
  line-height: 3.5rem;
}

h3 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-top: 1.5rem;
}

a {
  color: #a9b1bc;
}

a:hover {
  color: #fff;
}

main {
  text-align: center;
  justify-content: center;
}

main .intro {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  width: 60%;
}

ul.no-style li {
  list-style: none;
}

form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

form input, textarea, button {
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.3rem;
  color: #000;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875;
  padding: 0.8rem 0.8rem;
  width: 100%;
}

form textarea {
  width: 100%;
  height: 11rem;
}

form label {
  display: block;
  margin-top: 1rem;
}

form button {
  background-color: #f3646f;
  border-color: #f3646f;
  color: #fff;
}

form button:hover {
  color: #f3646f;
  background-color: #fff;
  border-color: #fff;
}

.pink {
  color: #f3646f;
}

.white {
  color: #fff;
}

.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 10px;
  margin-bottom: 2px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.hint {
  font-size: 0.8rem;
}

span.symbol {
  color: #fff;
  line-height: 50px;
  display: inline-block;
}
span.symbol:after {
  content: ' \27BF';
  color: #fff;
}


